html,body
{
    color: aliceblue;
    font-family: 'REM', sans-serif;
}

img
{
    width: 500px;
}

#bg
{
    background-image: url(../images/mirotech2.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-size: cover;
    background-position-y: 22%;
    filter: blur(5px);
}

#logo
{
    background-image: url(../images/logo.jpg);
    width: 150px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-size: 115%;
    background-position: 65% 50%;
}

h1
{
    margin-left: 160px;
    margin-top: 15px;
}

#customers td {
    margin: 0px 10px;
}